.App {
  height: 100vh;
  width: 100%;
  cursor: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.block {
  width: 100px;
  height: 100px;
  top: 0px;
  position: absolute;
  transition: top 2s;
}

.block:active {
  top: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
